*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-family: 'Courier New', Courier, monospace;
    font-size: 10px;
    background-color: #eeeada;
  
}
header{
    background-image: url(./img/bg.jpg);
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-size: cover;
}
h1{
    font-size: 4rem;
    color:white;
    padding-top: 50px;
    
}
nav {
    background: black;
    top: 0;
    width: 100%;
    transition:all 0.5s;
    position: relative;
    z-index: 1;
}
.fix-Nav nav{
    position: fixed;
}

nav ul{
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
}
nav ul li{
    display: flex;
    flex: 1;
    text-align: center;
    justify-content: center;
}
nav a{
    color: white;
    font-size: 2rem;
    text-transform: uppercase;
    text-decoration: none;
    padding: 20px 0;
}
li.logo {
    max-width: 0;
    overflow: hidden;
    background: white;
    transition: all 0.5s;
    font-weight: 600;
    font-size: 30px;
}
.fix-Nav li.logo{
    max-width: 200px;
}
li.logo a {
    color: black;
  }

.site-wrap{
    margin: 50px auto;
    width: 70%;
    padding: 50px;
    background-color: white;
    transform: scale(0.95);
    transition: all 0.5s;
    font-size: 2rem;

}
.fix-Nav .site-wrap{
    transform: scale(1);
}

.slide-in{
    width: 400px;
    height: 400px;
    margin: 5px;
}
.align-left{
    float: left;
}
.align-right{
    float: right;
}
